<% @users.each do |user| %>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"><%= user.username %></h5>
            <p class="card-text"><%= user.created_at.strftime("%B %d, %Y") %></p>
            <a href="<%= user_path(user) %>" class="btn btn-primary">View Profile</a>
        </div>
    </div>
<% end %>