<% if @user.errors.any? %>
    <div class="errors_message">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li style = "color:red;">
                <%= msg %>
            </li>
        <% end %>
        </ul>
    </div>
<% end %>